html {
  font-size: 100%;
  box-sizing: border-box;
  min-height: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
  outline: none;
  box-shadow: none;
  border: 0;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
}

h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 1.875rem;
  font-weight: 600;
}

h2 {
  font-size: 2.5625rem;
  font-weight: 500;
  line-height: 2.8125rem;
}

h3 {
  font-size: 0.9375rem;
  font-weight: 500;
}

h4 {
  font-size: 1.5625rem;
  font-weight: 500;
}

h5 {
  font-size: 1.1875rem;
  font-weight: 500;
}

p {
  font-size: 0.875rem;
  font-weight: 500;
}

h6 {
  font-size: 0.875rem;
  font-weight: 600;
}

a, a:visited, a:hover {
  text-decoration: none;
}

svg {
  display: block;
}

ul {
  list-style-type: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #000000;
  border: 0;
  border-radius: 1.25rem 0 0 1.25rem;
  padding: 0.515625rem 1rem;
  font-size: 0.9375rem;
  font-weight: 600;
  color: #ffffff;
}
input:focus {
  color: #ffffff;
  box-shadow: none;
}
input:invalid {
  box-shadow: none;
}

textarea {
  font-family: Arial, Helvetica, sans-serif !important;
}

.flex {
  display: flex;
}
.flex_jc_sb {
  justify-content: space-between;
}
.flex_jc_c {
  justify-content: center;
}
.flex_jc_fs {
  justify-content: flex-start;
}
.flex_jc_fe {
  justify-content: flex-end;
}
.flex_ai_c {
  align-items: center;
}
.flex_ai_fs {
  align-items: flex-start;
}
.flex_dr_c {
  flex-direction: column;
}
.flex_dr_cr {
  flex-direction: column-reverse;
}
.flex_dr_r {
  flex-direction: row;
}
.flex_dr_rr {
  flex-direction: row-reverse;
}

.nav_wrapper {
  position: relative;
  border-radius: 1.25rem 0 0 1.25rem;
  padding-left: 1.875rem;
  max-width: 12.8125rem;
  width: 12.8125rem;
  height: 100%;
  background-color: #000000;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 68.125rem) {
  .nav_wrapper {
    width: 5.625rem;
  }
}
@media (max-width: 29.6875rem) {
  .nav_wrapper {
    border-radius: 0;
  }
}

header {
  background-color: #3348A0;
  padding: 0 1.5rem;
}

.nav-max-w {
  max-width: 120rem;
}

.li-nav-border-color {
  border-color: #485BA8;
}

.home_wrapper {
  position: relative;
  max-width: 77.5rem;
  max-height: 54.25rem;
  height: 100%;
  width: 100%;
  border-radius: 1.25rem;
  background-color: #000000;
  box-shadow: 0 1.25rem 3.125rem black;
  z-index: 1;
  transform-style: preserve-3d;
  transform: perspective(62.5rem);
  transition: all 0.2s ease-in-out;
  overflow: hidden;
}
@media (max-width: 29.6875rem) {
  .home_wrapper {
    border-radius: 0;
  }
}

@-webkit-keyframes fly_in {
  0% {
    transform: translateY(3.125rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fly_in {
  0% {
    transform: translateY(3.125rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
