//global rules

//html elements
html
    font-size: 100%
    box-sizing: border-box
    @include min_height(100%)

*, *::before, *::after
    box-sizing: inherit
    outline: none
    box-shadow: none
    border: 0
    margin: 0
    padding: 0

body
    background: $purple-600
    font-family: Helvetica, sans-serif
    font-size: $n21px

a, a:visited, a:hover
    text-decoration: none

svg
    display: block

ul
    list-style-type: none

input
    -webkit-appearance: none
    -moz-appearance: none
    appearance: none
    border-radius: $n20px
    height: $n24px
    border: none
    padding-left: $n10px
    @include max_width($n183px)
    &:focus
        color: #292929
        box-shadow: none
    &:invalid
        box-shadow: none

textarea
    font-family: Helvetica, sans-serif !important

//classes
.logo
    width: 100%
    @include min_width($n73_54px)
    @include max_width($n73_54px)

//background for homepage
.game_background
    background-image: url('/img/game_background.svg')
    background-repeat: no-repeat
    background-position: center top
    background-size: auto 1535px