//globl variables

//colors
$white: #ffffff
$black: #000000

$pink-600: #F003F4

$purple-500: #485BA8
$purple-550: #5C6FBE
$purple-600: #3348A0

$green-300: #32E7CA

//px converted to rems
$n0_5px: 0.03125rem //0.5px
$n1px: 0.0625rem //1px
$n1_5px: 0.09375rem //1.5px
$n2px: 0.125rem //2px
$n2_5px: 0.15625rem //2.5px
$n3px: 0.1875rem //3px
$n4px: 0.25rem //4px
$n4_8px: 0.3rem //4.8px
$n5px: 0.3125rem //5px
$n6px: 0.375rem //6px
$n7px: 0.4375rem //7px
$n8px: 0.5rem //8px
$n8_25px: 0.515625rem //8.25px
$n8_5px: 0.53125rem //8.5px
$n9px: 0.5625rem //9px
$n9_5px: 0.59375rem //9.5px
$n10px: 0.625rem //10px
$n11px: 0.6875rem //11px
$n11_5px: 0.71875rem //11.5px
$n12px: 0.75rem //12px
$n13px: 0.8125rem //13px
$n14px: 0.875rem //14px
$n15px: 0.9375rem //15px
$n15_5px: 0.96875rem //15.5px
$n16px: 1rem //16px
$n17px: 1.0625rem //17px
$n18px: 1.125rem //18px
$n18_5px: 1.15625rem //18.5px
$n19px: 1.1875rem //19px
$n20px: 1.25rem //20px
$n21px: 1.3125rem //21px
$n22px: 1.375rem //22px
$n22_7px: 1.41875rem //22.7px
$n23px: 1.4375rem //23px
$n23_5px: 1.46875rem //23.5px
$n24px: 1.5rem //24px
$n25px: 1.5625rem //25px
$n26px: 1.625rem //26px
$n27px: 1.6875rem //27px
$n28px: 1.75rem //28px
$n28_8px: 1.8rem //28.8px
$n29px: 1.8125rem //29px
$n29_5px: 1.84375rem //29.5px
$n30px: 1.875rem //30px
$n31px: 1.9375rem //31px
$n32_5px: 2.03125rem //32.5px
$n33px: 2.0625rem //33px
$n34_5px: 2.15625rem //34.5px
$n35px: 2.1875rem //35px
$n36px: 2.25rem //36px
$n37px: 2.3125rem //37px
$n40px: 2.5rem //40px
$n41px: 2.5625rem //41px
$n42px: 2.625rem //42px
$n45px: 2.8125rem //45px
$n46px: 2.875rem //46px
$n47px: 2.9375rem //47px
$n50px: 3.125rem //50px
$n52px: 3.25rem //52px
$n53px: 3.3125rem //53px
$n56px: 3.5rem //56px
$n58px: 3.625rem //58px
$n60px: 3.75rem //60px
$n64px: 4rem //64px
$n65px: 4.0625rem //65px
$n66px: 4.125rem //66px
$n70px: 4.375rem //70px
$n72px: 4.5rem //72px
$n73_54px: 4.59625rem //73.54px
$n75px: 4.6875rem //75px
$n80px: 5rem //80px
$n84px: 5.25rem //84px
$n90px: 5.625rem //90px
$n95px: 5.9375rem //95px
$n96px: 6rem //96px
$n97_36px: 6.085rem //97.36px
$n98px: 6.125rem //98px
$n100px: 6.25rem //100px
$n104px: 6.5rem //104px
$n118px: 7.375rem //118px
$n123px: 7.6875rem //123px
$n125px: 7.8125rem //125px
$n131px: 8.1875rem //131px
$n140px: 8.75rem //140px
$n150px: 9.375rem //150px
$n158px: 9.875rem //158px
$n160px: 10rem //160px
$n161px: 10.0625rem //161px
$n168px: 10.5rem //168px
$n171px: 10.6875rem //171px
$n174px: 10.875rem //174px
$n179px: 11.1875rem //179px
$n180px: 11.25rem //180px
$n183px: 11.4375rem //183px
$n192px: 12rem //192px
$n200px: 12.5rem //200px
$n205px: 12.8125rem //205px
$n207px: 12.9375rem //207px
$n215px: 13.4375rem //215px
$n217px: 13.5625rem //217px
$n222_7px: 13.91875rem //222.7px
$n234px: 14.625rem //234px
$n238px: 14.875rem //238px
$n244px: 15.25rem //244px
$n250px: 15.625rem //250px
$n257px: 16.0625rem //257px
$n264px: 16.5rem //264px
$n265px: 16.5625rem //265px
$n278px: 17.375rem //278px
$n284px: 17.75rem //284px
$n285px: 17.8125rem //285px
$n298px: 16rem //298px
$n300px: 18.75rem //300px
$n320px: 20rem //320px
$n321px: 20.0625rem //321px
$n322px: 20.125rem //322px
$n340px: 21.25rem //340px
$n350px: 21.875rem //350px
$n392px: 24.5rem //392px
$n394px: 24.625rem //394px
$n400px: 25rem //400px
$n414px: 25.875rem //414px
$n427px: 26.6875rem //427px
$n433px: 27.0625rem //433px
$n498px: 31.125rem //498px
$n500px: 31.25rem //500px
$n525px: 32.8125rem //525px
$n526px: 32.875rem //526px
$n550px: 34.375rem //550px
$n771px: 48.1875rem //771px
$n800px: 50rem //800px
$n856px: 53.5rem //856px
$n868px: 54.25rem //868px
$n933px: 58.3125rem //933px
$n1000px: 62.5rem //1000px
$n1200px: 75rem //1200px
$n1240px: 77.5rem //1240px
$n1316px: 82.25rem //1316px